*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background: rgb(15, 156, 185);
}
.leftBand{
    text-align: center;
    margin: 10px auto;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.li_after{
    text-align: center;
    margin: 10px auto;
    border-bottom: 1px solid rgb(196, 19, 196);
}

a{
    color: #000;
    line-height: 30px;
    font-size: 22px;
}