<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace对应mapper接口的全类型 -->
<mapper namespace="com.ren.liveShow.mapper.PlayerMapper">
    <!-- sql语句填写区 例：<select id="mapper接口中的方法" resultType="数据类型全类名/别名">sql语句</select>-->


    <resultMap id="PlayerResultMap" type="Player">
        <id column="p_id" property="pId"/>
        <result column="p_name" property="pName"/>
        <result column="score" property="score"/>
    </resultMap>

    <!-- List<Player> sortPlayerList(); -->
    <select id="playerList" resultMap="PlayerResultMap">
        SELECT *
        FROM live_player
    </select>

    <!-- Integer addPlayer(@Param("player") Player player); -->
    <insert id="addPlayer">
        INSERT INTO live_player (p_name, score)
        VALUES (#{pName},#{score})
    </insert>
</mapper>
