<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="css/rank1.css"/>
</head>

<body>
    <table>
        <tr class="top">
            <td></td>
            <td>总排行榜</td>
            <td></td>
        </tr>
        <tr>
            <td>姓名</td>
            <td>分数</td>
            <td>排名</td>
        </tr>
        <tr th:each="player : ${session.playerList}">
            <td th:text="${player.PName}">蔡徐坤</td>
            <td th:text="${player.score}">99</td>
            <td th:text="${player.rank}">1</td>
        </tr>
    </table>
</body>

</html>